/* Variables */
@import"./Utils/variables";


/* Polices */
@import"./Base/typography";


/* HTML */
@import"./Base/base";


/* Titres */
@import"./Base/base";


/* Loading spinner */
@import"./Components/spinner";


/* Header */
@import"./Layout/header";


/* Main */
@import"./Base/base";


/* Page 'Accueil' */

/* Section 'Introduction' */
@import"./Pages/accueil";


/* Recherche */
@import"./Components/recherche";


/* Infos */
@import"./Pages/accueil";


/* Infos - Btn */
@import"./Components/buttons";


/* Fonctionnement */
@import"./Pages/accueil";


/* Fonctionnement - Btn */
@import"./Components/buttons";


/* Restaurants */
@import"./Pages/accueil";


/* Favoris 'coeurs' */
@import"./Components/favoris-coeurs";


/* Pages 'Menu' */

/* Menus - Parties 'Image' et 'Contenu' */
@import"./Pages/menus";


/* Menus - Apparition des menus de manière successive */
@import"./Components/app-menus";


/* Menus - Check box */
@import"./Components/checkbox";


/* Menus - Partie 'Contenu' (suite) */
@import"./Pages/menus";


/* Menus - Btn */
@import"./Components/buttons";


/* Footer */
@import"./Layout/footer";


/* Responsive */

/* Sur tablette */

@media screen and (max-width: 768px) {

    /* Page 'Accueil' */

    /* Loading spinner */

    .container_spinner {
        height: 1000px;
        width: 768px;
    }

    .element_spinner {
        top: 200px;
        left: 305px;
    }
}

/* Sur mobiles */

@media screen and (max-width: 425px) {

    /* Sur toutes les pages */

    h2
    {
        font-size: 18px;
    }

    /* Page 'Accueil' */

    /* Loading spinner */

    .container_spinner {
        height: 700px;
        width: 425px;
    }

    .element_spinner {
        left: 150px;
        top: 150px;
    }

    /* Logo */

    #logo {
        font-size: 1em;
    }

    /* Fonctionnement */

    .element_fonctionnement_btn>button>i {
        margin: 0px 10px 0px 10px;
    }

    /* Restaurants */

    #resto_img_spe {
        max-height: 200px;
    }

    /* Footer */

    .container_footer {
        padding-left: 20px;
        align-items: baseline;
    }

    .element_footer {
        text-align: initial;
    }

    /* Pages 'Menu' */

    .element_menu_img>figure {
        height: 160px;
    }

    .menu_contenu_titre {
        font-size: 1em;
    }

    .menu_contenu_titre_icon {
        padding: 1px;
    }

    .menu_contenu_categories {
        font-size: 12px;
    }

    .element_choix_description {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline;
        max-width: 200px;
    }

    .element_choix_prix
    {
        margin: 10px 5px;
        margin-inline-start: auto;
    }

    .element_choix_checkbox>i {
        font-size: 17px !important;
    }
}

@media screen and (max-width: 320px) {

    /* Page 'Accueil' */

    /* Loading spinner */

    .container_spinner {
        height: 700px;
        width: 425px;
    }

    .element_spinner {
        left: 100px;
        top: 150px;
    }
}