/* Variables */
$color_primaire: #9356DC;
$color_secondairey: #FF79DA;
$corlor_tertiaire: #99E2D0;
$color_gris1: 	#f6f6f6;
$color_gris2: #eaeaea;
$color_gris3: #cfcfcf;



/* Police */

@font-face
{
    font-family: 'Roboto';
    src: url('../Polices/Roboto/RobotoCondensed-Regular.ttf');
    font-family: 'Shrikhand';
    src: url('../Polices/Shrikhand/Shrikhand-Regular.otf');
}

/* HTML */
html
{
    max-width: 1200px;
    font-family:'Roboto', sans-serif;
}

h1, h2
{
    font-family:'Shrikhand', sans-serif;
}

/* Header */

/* Logo */
#logo
{
    display: flex;
    justify-content: center;
    font-size: 2em;
}

/* Main */

/* Section 'Introduction' */

.intro
{
    background-color: $color_gris1;
}

/* Recherche */

.container_recherche
{
    padding: 10px;
    border-top: 2px solid $color_gris3;
    background-color: $color_gris2;
    box-shadow: inset 0em 0.1em $color_gris3;
}

.element_recherche > input
{
    background-color: $color_gris2;
    border: 1px solid $color_gris2;
}

/* Infos */

.container_infos
{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.element_infos_titre
{
    font-weight: bold;
    font-size: 1.2em;
}

.element_infos_btn
{
    margin: 10px;
}

/* Fonctionnement */

.container_fonctionnement > h2
{
    font-family:'Roboto', sans-serif;
    margin-left: 10px;
}

.container_fonctionnement_btn
{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.element_fonctionnement_btn > button
{
    border-radius: 10px 10px 10px 10px;
    border: 1px solid $color_gris1;
    background-color: $color_gris1;
    padding: 10px 40px 10px 20px;
}

.element_fonctionnement_btn > button > i
{
    margin: 0px 10px 0px 0px;
}

/* Restaurants */

.container_restaurants
{
    background-color: $color_gris1;
}

.container_restaurants > h2
{
    font-family:'Roboto', sans-serif;
    padding: 10px 0px 0px 10px;
}

.element_restaurants
{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.element_descr-photo_txt > a
{
    text-decoration: none;
    color: black;
}

.element_restaurants > figure
{
    padding-bottom: 3px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: -1px 2px 5px 1px #f2f2f2;
    margin: 20px 0px;
}

.container_descr-photo
{
    display: flex;
    justify-content: space-between;
}

.element_descr-photo_txt > h3
{
    margin-bottom: 1px;
}

.element_descr-photo_icon
{
    margin: 30px;
    font-size: 20px;
}

.element_restaurants img
{
    border-radius: 10px 10px 0px 0px;
    max-height: 280px;
    width: 510px;
    object-fit: cover;
}

/* Footer */

.element_footer_liens > a
{
    text-decoration: none;
    color: black;
}

