/* Variables */
$color_primaire: #9356DC;
$color_secondaire: #FF79DA;
$corlor_tertiaire: #99E2D0;
$color_gris1: 	#f6f6f6;
$color_gris2: #eaeaea;
$color_gris3: #cfcfcf;
$color_gris4: #7e7e7e;
$color_number: white;
$color_TxT-btn: white;
$color_liens: black;
$color_BG-choix: white;
$color_liens-footer: white;
$color_BG-footer: #353535;


/* Police */

@font-face
{
    font-family: 'Roboto';
    src: url('../Polices/Roboto/RobotoCondensed-Regular.ttf');
    font-family: 'Shrikhand';
    src: url('../Polices/Shrikhand/Shrikhand-Regular.otf');
}

/* HTML */

html
{
    font-family:'Roboto', sans-serif;
}

/* Main */

main
{
    max-width: 1200px;
    margin: auto;
}

/* Titres */

h1, h2
{
    font-family:'Shrikhand', sans-serif;
}

/* Header */

/*
header
{
    position: sticky;
    top: 0px;
    background-color: white;
    z-index: 3;
}
*/

/* Logo */
#logo
{
    display: flex;
    justify-content: center;
    font-size: 2em;
    align-items: center;
    place-content: space-evenly;
}

/* (seulement pour les pages 'Menu') */

.retour-accueil
{
    text-decoration: none;
    color: $color_liens;
}

/* Page 'Accueil' */

/* Section 'Introduction' */

.intro
{
    background-color: $color_gris1;
}

/* Recherche */

.container_recherche
{
    padding: 10px;
    border-top: 2px solid $color_gris3;
    background-color: $color_gris2;
    box-shadow: inset 0em 0.1em $color_gris3;
}

.element_recherche > input
{
    background-color: $color_gris2;
    border: 1px solid $color_gris2;
}

/* Infos */

.container_infos
{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.element_infos_titre
{
    font-weight: bold;
    font-size: 1.2em;
}

.element_infos_btn  
{
    margin: 10px;
    display: flex;
    justify-content: center;
    color: white;
    button 
    {
        box-shadow: 0em 0em 0.7em $color_gris3;
        border: $color_primaire 0px solid;
        padding: 10px 20px;
        font-weight: bold;
        border-radius: 20px;
        position: relative;
        z-index: 1;
        cursor: pointer;
        background-color: $color_primaire;
        color: $color_TxT-btn;
        /* Dégradé de la couleur du bouton au survol */
        &:hover 
        {
            &::after 
            {
                opacity: 1;
            }
        }
        &::after 
        {
            border-radius: 25px;
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: linear-gradient($color_secondaire, $color_primaire);
            opacity: 0;
            z-index: -1;
            transition: opacity 250ms;
            box-shadow: 0em 0em 0.7em $color_gris4;
        }
    }
  }

/* Fonctionnement */

.container_fonctionnement > h2
{
    font-family:'Roboto', sans-serif;
    margin-left: 10px;
}

.container_fonctionnement_btn
{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    counter-reset: step;
}

.element_fonctionnement_btn::before
{
    counter-increment: step 1;
    content: counter(step);
    position: absolute;
    border-radius: 50%;
    border: $color_primaire 1px solid;
    width: 17px;
    height: 17px;
    font-size: 12px;
    font-weight: bold;
    color: $color_number;
    background-color: $color_primaire;
    text-align: center;
    margin-top: 19px;
    z-index: 1;
    padding: 3px 2px 0px 0px;
}

.element_fonctionnement_btn > button
{
    border-radius: 10px 10px 10px 10px;
    border: 1px solid $color_gris2;
    background-color: $color_gris1;
    padding: 10px 40px 10px 20px;
    margin: 10px;
    box-shadow: 0em 0em 0.7em $color_gris3;
}

.element_fonctionnement_btn > button:hover, button:active /* HOVER pour le mode 'PC' et ACTIVE pour le mode 'mobile' */
{
    background-color: rgba($color: $color_primaire, $alpha: 0.2);
    z-index: 2;
    i
    {
        color: $color_primaire !important;
    }
}

.element_fonctionnement_btn > button > i
{
    margin: 0px 10px 0px 0px;
    color: $color_gris4;
}

/* Restaurants */

.container_restaurants
{
    background-color: $color_gris1;
}

.container_restaurants > h2
{
    font-family:'Roboto', sans-serif;
    padding: 10px 0px 0px 10px;
    margin-bottom: auto;
}

.element_restaurants
{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.element_restaurants > figure
{
    padding-bottom: 3px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: -1px 2px 5px 1px #f2f2f2;
    margin: 20px;
    max-width: 500px;
}

.element_descr-photo_txt > a
{
    text-decoration: none;
    color: $color_liens;
}

.element_restaurants img
{
    border-radius: 10px 10px 0px 0px;
    width: 100%;
    object-fit: cover;
}

#resto_img_spe
{
    border-radius: 10px 10px 0px 0px;
    max-height: 333px;
    width: 100%;
    object-fit: cover;
}

.container_descr-photo
{
    display: flex;
    justify-content: space-between;
}

.element_descr-photo_txt > h3
{
    margin-bottom: 1px;
}

.element_descr-photo_icon
{
    margin: 30px;
    font-size: 20px;
}

.coeur-vide
{
    opacity: 1;
    position: absolute;
}

.coeur-vide:hover, .coeur-vide:active /* HOVER pour le mode 'PC' et ACTIVE pour le mode 'mobile' */
{
    opacity: 0;
}

.coeur-plein
{
    opacity: 0;
    position: absolute;
    transition: all 1s ease-in-out;
    background: linear-gradient(to bottom left, $color_primaire, 75%, $color_secondaire);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.coeur-plein:hover, .coeur-plein:active /* HOVER pour le mode 'PC' et ACTIVE pour le mode 'mobile' */
{
    opacity: 1;
    background: linear-gradient(to bottom left, $color_primaire, 75%, $color_secondaire);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}  

/* Pages 'Menu' */

.element_menu_img > figure
{
    max-width: 1200px;
    z-index: 1;
    position: static;
    margin: auto;
    height: 450px;
}

.element_menu_img > figure > img
{
    width: 100%;
    object-fit: cover;
}
.element_menu_contenu
{
    background-color: $color_gris1;
    border-radius: 45px 45px 0px 0px;
    padding: 20px;
    z-index: 2;
    position: relative;
}

.menu_contenu_titre
{
    display: flex;
    justify-content: space-between;
    font-size: 2em;
}

.menu_contenu_titre_icon
{
    align-self: center;
    padding-right: 60px;
}

.menu_contenu_categories > h3
{
    font-weight: 100;
    width: 50px;
    border-bottom: 2px solid $corlor_tertiaire;
    padding-bottom: 5px;
}

.container_choix
{
    border-radius: 10px 10px 10px 10px;
    background-color: $color_BG-choix;
    padding: 1px 10px;
    margin: 10px 0px;
}

.element_choix_titre
{
    font-weight: bold;
}

.element_choix_description
{
    display: flex;
    justify-content: space-between;
}

.element_choix_prix
{
    font-weight: bold;
}

.element_menu_btn 
{
    display: flex;
    justify-content: center;
    margin: 10px;
    display: flex;
    justify-content: center;
    color: white;
    button 
    {
        box-shadow: 0em 0em 0.7em $color_gris3;
        border-radius: 20px;
        padding: 10px 20px;
        font-weight: bold;
        margin-top: 10px;
        border: $color_primaire 0px solid;
        padding: 10px 20px;
        font-weight: bold;
        border-radius: 20px;
        position: relative;
        z-index: 1;
        cursor: pointer;
        background-color: $color_primaire;
        color: $color_TxT-btn;
        /* Dégradé de la couleur du bouton au survol */
        &:hover 
        {
            &::after 
            {
                opacity: 1;
            }
        }
        &::after 
        {
            border-radius: 25px;
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: linear-gradient($color_secondaire, $color_primaire);
            opacity: 0;
            z-index: -1;
            transition: opacity 250ms;
            box-shadow: 0em 0em 0.7em $color_gris4;
        }
    }
  }

/* Footer */

.container_footer
{
    display: flex;
    flex-flow: column;
    align-items: center;
    background-color: $color_BG-footer;
}

.logo
{
    font-family:'Shrikhand', sans-serif;
    font-size: 25px;
    color: $color_liens-footer;
}

.element_footer
{
    text-align: center;
}

.footer_liens
{
    margin: 10px;
}

.footer_liens > a
{
    text-decoration: none;
    color: $color_liens-footer;
}


/* Responsive */

/* Sur mobile */

@media screen and (max-width: 320px)
{
    /* Page 'Accueil' */

    /* Logo*/

    #logo
    {
        font-size: 1em;
    }

    /* Fonctionnement */

    .element_fonctionnement_btn::before
    {
        left: 35px;
    }

    /* Restaurants */

    #resto_img_spe
    {
        max-height: 200px;
    }

    /* Footer */

    .container_footer
    {
        padding-left: 20px;
        align-items: baseline;
    }

    .element_footer
    {
        text-align: initial;
    }

    /* Pages 'Menu' */

    .element_menu_img > figure
    {
        height: 160px;
    }

    .menu_contenu_titre
    {
        font-size: 1em;
    }

    .menu_contenu_titre_icon
    {
        padding: 0px;
    }
}
