/* Couleurs */

$color_primaire: #9356DC;
$color_secondaire: #FF79DA;
$color_tertiaire: #99E2D0;
$color_gris1: #f6f6f6;
$color_gris2: #eaeaea;
$color_gris3: #cfcfcf;
$color_gris4: #7e7e7e;
$color_number: white;
$color_TxT-btn: white;
$color_TxT-indPho: #008766;
$color_liens: black;
$color_BG-choix: white;
$color_liens-footer: white;
$color_BG-footer: #353535;
