.element_choix_checkbox>i {
    opacity: 0;
}

/* HOVER pour le mode 'PC' et ACTIVE pour le mode 'mobile' */
.container_choix:hover,
.container_choix:active {
    .element_choix_checkbox {
        display: flex;
        color: #fff;
        background: $color_tertiaire;
        text-align: center;
        border-radius: 0px 10px 10px 0px;
        align-items: center;
        justify-content: center;
        animation: checkbox 0.3s cubic-bezier(0.01, -0.01, 1, 1.01) backwards;
        width: 60px;

        @keyframes checkbox {
            0% {
                width: 0px;
            }

            100% {
                width: 60px;
            }
        }

        i {
            transform: rotate(360deg);
            transition: transform 0.5s cubic-bezier(0.01, -0.01, 1, 1.01);
            font-size: 20px;
            opacity: 1;
        }
    }
}